*{
    padding: 0;
    margin: 0;
}

.contener{
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(227 218 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
li{
    list-style: none;
    font-weight: 600;
    font-size: large;
    padding: 30px;
}
ul{
   
    display: flex;
    justify-content: space-around;
    padding-right:12%;
    
    
}
h1{
    color:rgb(228, 152, 12) ;
    padding-left: 17%;
    font-weight:800;
    font-size: 48px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}
